@charset "UTF-8";


.home{
	margin: 100px;
	
}
.mine-study{
    display: justify;
    justify-content: space-between;
    margin-top: 50px;
    margin-bottom: 50px;
}
.study-item{
    border: solid 1px black;
    width: 600px;
    height: 350px;
    margin: 20px;
    text-align: center;
    font-size: 18px;
    line-height: 33px;
    padding: 100px;
    background-color:#e9ecef;
    border-radius:10px;
    border-width: 0px;
    box-shadow: rgba(149, 157, 165, 0.3) 0px 8px 20px 0px ;
}
.open-study{
    display: justify;
    justify-content: space-between;
    margin-top: 50px;
}


.data-study-tab{
    border: 1px solid black;
    border-radius: 100px;
    transition: .1s ease-out;
}
.study-btn{
    
    background-color: #b9fbc0;
    padding: 0 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 18px;
    line-height: 26px;
    outline: 0;
    text-decoration: none;
    cursor: pointer;
    border-radius: 50px;
    font-weight: 700;
    border-width: 0px;
}
.cate-btn{
    
    
    padding: 0 20px;
    padding-top: 8px;
    padding-bottom: 8px;
    font-size: 13px;
    line-height: 26px;
    outline: 0;
    text-decoration: none;
    cursor: pointer;
    border-radius: 50px;
    font-weight: 700;
    border-width: 0px;
}
.study-tab-btn{
    appearance: auto;
    margin: 10px;
    
}
.imgset{
    width: 240px;
    height: 155px;
    margin: 20px;
    border-radius: 20px;
    position: inherit; 
}
ul{
    list-style: none;
    padding-left: 0px;
}
li{
    text-align: left;
    line-height: 10px;
    
}
#container{
    display: flex;
}
.flex-item{
    align-items : center;
}
.pvalue{
    margin-left: 30px;
    margin-top: -13px;
    
}

.number{
	background-color:#b9fbc0;
	display:inline-block !important;
	border-radius:10px;
	padding:2px 8px;
	
}

.sticky {
  display: inline-block;
  position: fixed;
  top: 80%;
  left: 85%;
  width: 70px;
  height: 70px;
  background: #b9fbc0;
  border-radius:50%;
  box-shadow: rgba(149, 157, 165, 0.4) 0px 10px 24px;
  padding-top:12px;
  padding-left:12.5px;
}

.search {
  display: inline-block !important;
  position: fixed;
  top: 70%;
  left: 85%;
  width: 70px;
  height: 70px;
  background: #b9fbc0;
  border-radius:50%;
  box-shadow: rgba(149, 157, 165, 0.4) 0px 10px 24px;
  padding-top:10px;
  padding-left:7px;
}

.index {
  display: inline-block;
  position: fixed;
  bottom: 23%;
  left: 70%;
  width: 14.3%;
  height: 50%;
  background: #b9fbc0;
  border-radius:5%;
  box-shadow: rgba(149, 157, 165, 0.4) 0px 10px 24px;
  padding-top:12px;
  padding-left:12.5px;
}

.exit {
  display: inline-block;
  position: fixed;
  top: 21.9%;
  left: 82.5%;
  width: 40px;
  height: 40px;
  background: #b9fbc0;
  border-radius:10px;
  padding-top:5px;
  padding-left:1.8px;
}

input{
   
   background-color: #e9ecef;
   border-width: 0px;
   
   
}

input::placeholder {
  color: #6c757d !important;
  font-style: italic;
}



a{
	color:#343a40;
}


.hidden {
  display: none;
  opacity: 0;
}

.hidden2 {
  display: none;
  opacity: 0;
}




.appear {
  animation: fade-in 1s;
  animation-fill-mode: forwards;
  display: flex;
}

.disappear {
  animation: fade-out 1s;
  animation-fill-mode: forwards;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade-out {
  from {
    opacity: 1;

  }
  to {
    opacity: 0;
  }
}

button:focus {
  outline: none;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background-color: #FFCFD2;
}


.search2{
	background-color:transparent;
	border:0;
	outline:0;
}

.search2:focus{
	background-color:transparent;
	box-shadow: none;
}

.exit2{
	background-color:transparent;
	border:0;
	outline:0;
}

.exit2:focus{
	background-color:transparent;
	box-shadow: none;
}

#indexbtn{
	background-color:#fbf8cc;
	border:0;
	outline:0;
	border-radius:10px;
	
}

#indexview{
	background-color:#ced4da;
	width:95%; 
	height:80%; 
	border-radius:10px; 
	padding:10px;
}

#index{
	width:80%;
	height:30px;
	border-radius:10px; 
}